.idea/*
**/.DS_Store
**/__pycache__
.DS_Store
__pycache__
classifier/**/*.csv
clasifier/*.csv
**/flask/Lib/__pycache__
**/classifier/__pycache__
**/app/__pycache__
**/flask/Lib/site-packages/PyInstaller
**\flask\Lib\__pycache__
**\classifier\__pycache__
**\app\__pycache__
**\flask\Lib
**/*.pyc
build/helpme/helpme.exe.manifest
helpme.spec
build/helpme/base_library.zip
