#nav {
    background-color: #495057;
}

#row-filters {
    margin-top: 18px;
    padding-bottom: 10px;
}

.form-control-lg {
    font-size: 1rem;
}

#card-categories {
    margin: 0px 20px 20px 0px;
}

.fas {
    color: #495057;
}

.fa-check {
    line-height: inherit !important;
    float: right;
}

.fa-circle {
    margin-top: 4px;
    line-height: inherit !important;
    float: right;
}

#orders {
    min-width: 15rem;
}

.twitter-tweet {
    width: 100% !important;
}

#home-background {
    background-image: url(../images/emergency.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.alert {
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 10;
}

#home-container {
    position: relative;
    transform: translatey(-50%);
    top: 50%;
}

#home-jumbotron {
    background-color: rgba(89, 130, 173, 0.2);
    color: white;
}

.search_input {
    width: 100% !important;
}

.numberCircle {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: initial;
    width: 21px;
    height: 21px;
    padding: 8px;
    background: #0069d9;
    color: white;
    text-align: center;
    font: 19px Arial, sans-serif;
}

.list-wrapper {
    overflow: hidden; /* will contain if #first is longer than #second */
}

.first {
    width: 50px;
    float:left; /* add this */
}

.second {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    margin-bottom: 20px;
}

.container{
    color: black;
}

.category {
    border: none !important;
    margin-bottom: 5px !important;
}

.Report.active {
    background-color: #28a745 !important;
}

.Report {
    background-color: rgba(33, 136, 56, 0.5) !important;
}

.Others.active {
    background-color: #dc3545 !important;
}

.Others {
    background-color: rgba(200, 35, 51, 0.5) !important;
}

.Calls.active {
    background-color: #ffc107 !important;
}

.Calls {
    background-color: rgba(224, 168, 0, 0.5) !important;
}

.Request.active {
    background-color: #17a2b8 !important;
}

.Request {
    background-color: rgba(19, 132, 150, 0.5) !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #6c757d;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6c757d transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#refreshing-anim {
    margin-top: 120px;
}

* {
  box-sizing: border-box;
}

#block-contain { 
    display: flex;
    flex-flow: column wrap;
    max-width:100%;
}

.block {
  padding:20px;
  flex: 1 0 auto;
  overflow:hidden;
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  justify-content:center;
  align-items:center;
  font-size:3em;
  min-height:100px;
  border:1px solid transparent;
}

#tweet-grid {
    display: none;
    margin: 40px 0 40px 0 !important;
}


#home-anim div{
    border: 6px solid #FFF !important;
    border-color: #FFF transparent transparent transparent !important;
}

#inner-div-loading{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #6c757d !important;
}

blockquote.twitter-tweet {
    max-width: 250px !important;
}

	/* sticky footer */
	footer.sticky {
		width: 100%;
	}

.home_form{
    max-width: 50%;
    margin-left: 25%;
    margin-top: 20%;
}

.home_title{
    margin-left: 37%;
}

.clearfix {
    clear: both;
    content: "";
    display: block;
}

div#loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(29, 161, 242, 0.8);
    color: white;
    z-index: 1040;
}

.container-home{
    /* margin: 2% !important; */
    color:#fff !important;
}

/* side bar */
.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 142px;
    padding-left: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 25%; /* Same as the width of the sidenav */
    padding: 91px 20px 0px 20px;
}