extends layout

block body
    nav.navbar.navbar-default( role="navigation" )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
    
        #navbar-inverse.collapse.navbar-collapse
            ul.nav.navbar-nav.pull-right
                li: a( href="/") Home
                li: a( href="/categories" ) Categories

    block content
        div.contains
            .row
                .col-md-9
                    .row
                        .col-md-4.col-sm-6.col-xs-12
                            .small-box(style="background-color:#eee")
                                .inner
                                h3 150
                                p Bridge Collapse
                        
                        .col-md-4.col-sm-6.col-xs-12
                            .small-box(style="background-color:#eee")
                                .inner
                                h3 10
                                p Terrorist Attacks 
                        
                        .col-md-4.col-sm-6.col-xs-12
                            .small-box(style="background-color:#eee")
                                .inner
                                h3 2
                                p Earthquakes     
                        
                        .col-md-4.col-sm-6.col-xs-12
                            .small-box(style="background-color:#eee")
                                .inner
                                h3 20
                                p Explosions
                        
                        .col-md-4.col-sm-6.col-xs-12
                            .small-box(style="background-color:#eee")
                                .inner
                                h3 12
                                p Automobile crashes 
                        
                        .col-md-4.col-sm-6.col-xs-12
                            .small-box(style="background-color:#eee")
                                .inner
                                h3 12
                                p Assasinations
                    
                .col-md-3
                    .panel.panel-primary
                            .panel-heading Filters
                            .panel-body
                                .list-group
                                    h5.list-group-item Priority Level
                                        li.list-group-item-text: a(href="/categories") High
                                        li.list-group-item-text: a(href="/categories") Medium
                                        li.list-group-item-text: a(href="/categories") Low

                                    h5.list-group-item: a( href="/categories" ) Incident Type
                                    h5.list-group-item: a( href="/categories" ) Time
                                    h5.list-group-item: a( href="/categories" ) Media
                                //- #accordion.panel-group
                                //-     each val in [1]
                                //-         each name in ["Priority Level", "Incident Type", "Time", "Media"]
                                //-             .panel-info(id="panel#{val}")
                                //-             .panel-heading
                                //-                 h4.panel-title
                                //-                 a(data-toggle='collapse', data-target='#accordion', href='#collapse#{val}') #{name}
                                //-             .panel-collapse.collapse.in(id="#collapse#{val}")
                                //-                 .panel-body 
                                //-                     .li High
                                //-                     .li Medium
                                //-                     .li Low