<html>
    <head>
      {% if title %}
      <title>{{ title }} - HelpMe</title>
      {% else %}
      <title>Welcome to Helpme</title>
      {% endif %}
    </head>
    <body>
        <div>
            Helpme:
             <a href="/index">Home</a>
             <a href="/RequestForms">Request Tweets</a>
             <a href="/tweetapi">Retrieve Tweets</a>
             <a href="/priority_html">Search_by_priority</a>
             <a href="/category_html">Filter_by_Category</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
