{% extends "layout.html" %}
{% block content %}
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://platform.twitter.com/widgets.js"></script>
<script>
var paginationHandler = function(){
    // store pagination container so we only select it once
    var $paginationContainer = $(".pagination-container"),
        $pagination = $paginationContainer.find('.pagination ul');
    // click event
    $pagination.find("li a").on('click.pageChange',function(e){
        e.preventDefault();
        // get parent li's data-page attribute and current page
    var parentLiPage = $(this).parent('li').data("page"),
    currentPage = parseInt( $(".pagination-container div[data-page]:visible").data('page') ),
    numPages = $paginationContainer.find("div[data-page]").length;
    // make sure they aren't clicking the current page
    if ( parseInt(parentLiPage) !== parseInt(currentPage) ) {
    // hide the current page
    $paginationContainer.find("div[data-page]:visible").hide();
    if ( parentLiPage === '+' ) {
                // next page
        $paginationContainer.find("div[data-page="+( currentPage+1>numPages ? numPages : currentPage+1 )+"]").show();
    } else if ( parentLiPage === '-' ) {
                // previous page
        $paginationContainer.find("div[data-page="+( currentPage-1<1 ? 1 : currentPage-1 )+"]").show();
    } else {
        // specific page
        $paginationContainer.find("div[data-page="+parseInt(parentLiPage)+"]").show();
            }
        }
    });
};
$( document ).ready( paginationHandler );
</script>
<script type="text/javascript">
function waitGrid() {
	var checkExist = setInterval(function() {
		console.log('check')
		console.log($("#tweet-grid").children().length)
		if ($("#tweet-grid").children().length > 0) {
			$('#refreshing-anim').hide();
			$('#tweet-grid').show();
		    clearInterval(checkExist);
		}
	}, 1000);
}

function filterTweets(active_categories, active_filters, chronological) {
	$('#tweet-grid').hide();
	$('#refreshing-anim').show();
	$.ajax({
		url: "/filter_tweets",
		type: "get",
		data: {categories: active_categories.join(','), filters: active_filters.join(','), chronological: chronological},
		success: function(response) {
			$("#tweet-grid").html(response);
		},
		error: function(xhr) {
		//Do Something to handle error
		},
		complete: function(){
			waitGrid();
		}
	});
}

$(window).on('load', function() {
	$('#refreshing-anim').hide();
	$('#tweet-grid').show();
});

$(document).ready(function() {
	var active_categories = []
	var active_filters = []
	var chronological = true

	$('.category-filters').children('label').each(function(i) {
		if ($(this).hasClass('active')) {
			active_categories.push($(this).attr('id'))
		}
	});
	$('.filters').children('.filter').each(function(i) {
		if ($(this).hasClass('active')) {
			active_filters.push($(this).attr('id'))
		}
	});

	$(document).on('click', '.category', function () {
		var check_val = $.inArray($(this).attr('id'), active_categories)
		if (check_val == -1) {
			active_categories.push($(this).attr('id'))
		} else {
			active_categories.splice(check_val, 1)
		}

		filterTweets(active_categories, active_filters, chronological)
	});

	$(document).on('click', '.filter', function () {
		var check_val = $.inArray($(this).attr('id'), active_filters)
		if (check_val == -1) {
			active_filters.push($(this).attr('id'))
		} else {
			active_filters.splice(check_val, 1)
		}

		if ($(this).hasClass('active')) {
			$(this).removeClass('active')
		} else {
			$(this).addClass('active')
		}

		filterTweets(active_categories, active_filters, chronological)
	});

	$(document).on('click', '#chronological', function () {
		if (!$(this).hasClass('active')) {
			chronological = true
			$(this).addClass('active')
			$('#reverse-chronological').removeClass('active')
		}
		
		filterTweets(active_categories, active_filters, chronological)
	});

	$(document).on('click', '#reverse-chronological', function () {
		if (!$(this).hasClass('active')) {
			chronological = false
			$(this).addClass('active')
			$('#chronological').removeClass('active')
		}

		filterTweets(active_categories, active_filters, chronological)
	});
});
</script>
 <!-- loading effect -->
<div class="text-center" id="loading">
    <div id="inner-div-loading">
        <div id="home-anim" class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <h4>Loading tweets...</h4>
    </div>
</div>

       

<div class="container">
	<div class="row">
		<div class="col-sm">
			<h2>Categories:</h2>
		</div>
	</div>
	<div class="row">
		{% for key, value in categories.items() %}
			{% if value is defined and value|length > 0 %}
			<div class="col-sm">
				<h4>{{key| safe}}</h4>
				<div class="category-filters btn-group-toggle" data-toggle="buttons">
					{% for category in value %}
					<label id="{{category| safe}}" class="{{key| safe}} category btn btn-secondary active">
						<input type="checkbox" checked autocomplete="off"> {{category| safe}}
					</label>
		        	{% endfor %}
				</div>
			</div>
			{% endif %}
		{% endfor %}

	</div>
	<div class="row" style="margin-top: 25px">
		<div class="col-sm text-center">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Priority
				</button>
				<div class="filters dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a id="priority-low" class="filter dropdown-item active" href="#">Low</a>
					<a id="priority-medium" class="filter dropdown-item active" href="#">Medium</a>
					<a id="priority-high" class="filter dropdown-item active" href="#">High</a>
				</div>
			</div>
		</div>
		<div class="col-sm text-center">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Media
				</button>
				<div class="filters dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a id="media-yes" class="filter dropdown-item active" href="#">Yes</a>
					<a id="media-no" class="filter dropdown-item active" href="#">No</a>
				</div>
			</div>
		</div>
		<div class="col-sm text-center">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Order
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a id="chronological" class="dropdown-item active" href="#">Chronological</a>
					<a id="reverse-chronological" class="dropdown-item" href="#">Reverse chronological</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="text-center" id="refreshing-anim">
	<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
	<h4>Loading..</h4>
</div>


<!-- <div class="pagination-container" >
   <div data-page="1" >
      <p>Content for Div Number 1</p>
   </div>
   <div data-page="2" style="display:none;">
      <p>Content for Div Number 2</p>
   </div>
   <div data-page="3" style="display:none;">
      <p>Content for Div Number 3</p>
   </div>
   <div data-page="4" style="display:none;">
      <p>Content for Div Number 4</p>
   </div>
   <div data-page="5" style="display:none;">
      <p>Content for Div Number 5</p>
   </div>

   <div class="text-center">
	   <div class="pagination pagination-centered">
	       <ul class="pagination ">
	            <li data-page="-" ><a href="#" >&lt;</a></li>
	            <li data-page="1"><a href="#" >1</a></li>
	            <li data-page="2"><a href="#" >2</a></li>
	            <li data-page="3"><a href="#" >3</a></li>
	            <li data-page="4"><a href="#" >4</a></li>
	            <li data-page="5"><a href="#" >5</a></li>
	            <li data-page="+"><a href="#" >&gt;</a></li>
	      </ul>
	   </div>
	</div>
</div> -->


<div id="tweet-grid">
	{{tweets|safe}}
</div>

{% endblock content %}