{% extends "layout.html" %}
{% block content %}
<br>
<!-- <div class="container"> -->
	<div class="row">
		<div class="col-md-9">
				<br><br><br><br>
				<form class="form-inline">
				  <div class="form-group">
					<label class="sr-only" for="query">Query</label>
					<input type="text" class="form-control" id="query" placeholder="query">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
				<br>
				<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
				<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
				<!-- {% for tweet in tweets %}
			  <blockquote>

				</blockquote>
				<blockquote class="twitter-tweet" data-lang="en">
					<p lang="en" dir="ltr">just setting up my twttr</p>&mdash; Jack (@jack) <a href="https://twitter.com/jack/status/20">March 21, 2006</a>
				</blockquote>
					<a href="'https://publish.twitter.com/oembed?url=https://twitter.com/anybody/status/'"{{ tweet.postID }}></a>
				{% endfor %} -->
		</div>

		<div class="col-md-3">
			<h4>Filters</h4>
			<div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown" style="">
					<div class="btn-group" role="group">
							<button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Priority Level
							</button>
							<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
							<a class="dropdown-item" href="/category_html">High</a>
							<a class="dropdown-item" href="/category_html">Medium</a>
							<a class="dropdown-item" href="/category_html">Low</a>
							</div>
						</div>
					<button type="button" class="btn btn-light">Time</button>
					<button type="button" class="btn btn-light">Media</button>
					<button type="button" class="btn btn-light">Incident Type</button>
					<a class="btn btn-light" href="/tweetapi">Retrieve Tweets</a>
					 <a class="btn btn-light" href="/priority_html">Search_by_priority</a>
					 <a class="btn btn-light" href="/category_html">Filter_by_Category</a>
					 <a class="btn btn-light" href="/eventfilter_html">Filter by event</a>
					
					
			</div>
		</div>
	</div>
<!-- </div> -->
{% endblock content %}