{% extends "layout.html" %}
{% block body_content %}
<br>
<div class="container">
    <div id="jumbotron-homepage" class="jumbotron">
        <h1 class="display-3">Help me!</h1>
        <p>Help me! is a tool to help public safety officers in retrieving information from Twitter during an emergency. This tool collects data from Twitter and runs a classifier to retrieve valuable knowledge from this data. Classified data is visualised to enable the user to get information he or she wants. Help me! involves two simple steps:</p>
        <div id="list-wrapper">
            <div id="first"><div class="numberCircle">1</div></div>
            <div id="second">Use the searchbar to search for an existing emergency. This will start the tool retrieving tweets for us. For example: "forest fire California" will make a call to the Twitter API to search for relevant tweets.</div>
        </div>
        <div id="list-wrapper">
            <div id="first"><div class="numberCircle">2</div></div>
            <div id="second">Filter the returned tweets by the provide filters. Available filters are: type of incident, priority, order (e.g. chronological) and media.</div>
        </div>
    </div>

 
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <form action="/search" method="POST">
                <input type="text" name=query class="form-control input-lg" placeholder="Search emergency" />
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </form>
        </div>
    </div>
</div>
<!-- <div class="container">
    <form class="home_form" action="/tweetapi" method="POST">
        <h1 class="home_title">Help Me!!!</h1>
        <label for="name"> </label>
        <label for="other">Help Me is an app, that helps it users search through query and category specific emergency events and incidents. Try it out, search for anything.</label>
        <input class="btn btn-primary btn-xs search_button" type="submit" value="Go to search" />
    </form>
</div> -->
{% endblock body_content %}